body{
    background-color: rgb(203, 235, 144);
}
.container{
    background-color: rgb(201, 238, 194);
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

p{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
}